{
    "name": "{{ name }}"
  , "version": "0.0.1"
  , "description": ""
  , "keywords": []
  , "author": ""
  , "dependencies":
    {
        "eliza"         : "https://github.com/benjreinhart/eliza/tarball/master"
      , "coffee-script" : ">=1.4.0"{{# includeLatte }}
      , "latte"         : "https://github.com/benjreinhart/latte/tarball/master"{{/ includeLatte }}
    }
  , "devDependencies": {}
  , "main": "index"
}