{
    "name": "{{ name }}"
  , "version": "0.0.1"
  , "description": ""
  , "keywords": []
  , "author": ""
  , "dependencies":
    {
        "latte"         : "https://github.com/benjreinhart/latte/tarball/master"
      , "coffee-script" : ">=1.4.0"
    }
  , "devDependencies": {}
  , "main": "index"
}