{
  "name": "{{ name }}",
  "version": "0.0.1",
  "description": "",
  "keywords":
  [
  ],
  "author": "",
  "dependencies":
  {
    "latte"         : "git://github.com/benjreinhart/latte.git",
    "coffee-script" : ">=1.4.0"
  },
  "devDependencies":
  {
  },
  "main": "index"
}